@font-face {
 font-family: 'iconfont';  /* project id 2420755 */
  src: url('//at.alicdn.com/t/font_2420755_1rfr5nl96gci.eot');
  src: url('//at.alicdn.com/t/font_2420755_1rfr5nl96gci.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2420755_1rfr5nl96gci.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2420755_1rfr5nl96gci.woff') format('woff'),
  url('//at.alicdn.com/t/font_2420755_1rfr5nl96gci.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2420755_1rfr5nl96gci.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}